<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <section class="table-section">
        <div class="row flex-nowrap">
          <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <h1 class="display-5">Dashboard</h1>
            <div
              class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
            >
              <a
                href="/"
                class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
              >
                <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul
                class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                id="menu"
              >
                <li>
                  <a
                    href="/dashboard-user-game-history"
                    class="nav-link px-0 align-middle"
                  >
                    <i class="fs-4 bi-table"></i>
                    <span class="ms-1 d-none d-sm-inline fw-bolder"
                      >User_game_history</span
                    ></a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="/dashboard-user-game"
                    class="nav-link align-middle px-0"
                  >
                    <i class="fs-4 bi-house"></i>
                    <span class="ms-1 d-none d-sm-inline">User_games</span>
                  </a>
                </li>
                <li>
                  <a
                    href="/dashboard-user-game-biodata"
                    class="nav-link px-0 align-middle"
                  >
                    <i class="fs-4 bi-table"></i>
                    <span class="ms-1 d-none d-sm-inline"
                      >User_game_biodata</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="user-data col-10 px-0">
            <table class="table table-striped my-3 w-100">
              <thead>
                <tr>
                  <th scope="col" class="text-center">
                    <h5>userGameHistoryId</h5>
                  </th>
                  <th scope="col" class="text-center">
                    <h5>win</h5>
                  </th>
                  <th scope="col" class="text-center">
                    <h5>lose</h5>
                  </th>
                  <th scope="col" class="text-center">
                    <h5>timePlay</h5>
                  </th>
                  <th scope="col" class="text-center">
                    <h5>totalMatch</h5>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% if (history && history.length > 0) {%> <%
                history.forEach((history) =>{ %>
                <tr>
                  <th scope="row" class="text-center">
                    <%= history.userGameHistoryId %>
                  </th>
                  <td class="text-center"><%= history.win %></td>
                  <td class="text-center"><%= history.lose %></td>
                  <td class="text-center"><%= history.timePlay %></td>
                  <td class="text-center"><%= history.totalMatch %></td>
                </tr>
                <% }) %> <% } else { %>
                <h2>History not found</h2>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
