<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <section class="table-section">
        <div class="container-fluid">
          <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
              <h1 class="display-5">Dashboard</h1>
              <div
                class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
              >
                <a
                  href="/"
                  class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                >
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul
                  class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                  id="menu"
                >
                  <li>
                    <a
                      href="/dashboard-user-game-history"
                      class="nav-link px-0 align-middle"
                    >
                      <i class="fs-4 bi-table"></i>
                      <span class="ms-1 d-none d-sm-inline"
                        >User_game_history</span
                      ></a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      href="/dashboard-user-game"
                      class="nav-link align-middle px-0"
                    >
                      <i class="fs-4 bi-house"></i>
                      <span class="ms-1 d-none d-sm-inline fw-bolder"
                        >User_games</span
                      >
                    </a>
                  </li>
                  <li>
                    <a
                      href="/dashboard-user-game-biodata"
                      class="nav-link px-0 align-middle"
                    >
                      <i class="fs-4 bi-table"></i>
                      <span class="ms-1 d-none d-sm-inline"
                        >User_game_biodata</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-10 user-data px-0">
              <table class="table table-striped my-3">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">
                      <h5>id</h5>
                    </th>
                    <th scope="col" class="text-center">
                      <h5>username</h5>
                    </th>
                    <th scope="col" class="text-center">
                      <h5>role</h5>
                    </th>
                    <th scope="col" class="text-center">
                      <h5>action</h5>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach((i) => { %>
                  <tr>
                    <th scope="row" class="text-center"><%= i.id %></th>
                    <td class="text-center"><%= i.username %></td>
                    <td class="text-center"><%= i.role %></td>
                    <td class="justify-content-center d-flex">
                      <div class="row d-flex">
                        <div class="col-auto">
                          <a
                            class="btn btn-success me-3"
                            href="/dashboard-user-game/update/<%= i.id %>"
                            >Update User</a
                          >
                        </div>
                        <div class="col">
                          <a
                            class="btn btn-danger me-3"
                            href="/dashboard-user-game/delete/<%= i.id %>"
                            >Delete User</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
              <div class="w-100 mb-5">
                <a
                  class="btn btn-primary"
                  href="/dashboard-user-game/create-new-user"
                  >Add user</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
