<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">username</label>
          <input
            name="username"
            type="text"
            class="form-control"
            id="username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="your password"
          />
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
      </form>
    </div>
  </body>
</html>
